.DS_Store
*~
.iml
*.swp
*.swo
*.swp
*.class
bin2
miscKeyNotes
miscPDFs*
tmpdata
.idea
build.log
miscPDFs
log
data
build
bin
nbproject
.project
.classpath
.settings
tests/*.bin
algorithms_in_java/tmpdata
junit*properties
TEST-*txt
tt
tmp_tmp*
tmp_tmp*/*
